#header {
    margin: 2px auto;
    width: 96%;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    background-color: #DFECF7;
}

#splash {
    font: "Palatino Linotype", serif;
    font-size: 48px;
}
#subheader {
    font-style: oblique;
    font: Charcoal, Impact, sans-serif;
}

#main {
}
#subnav {
  display: inline-block;
}
#projects {
    font: "Palatino Linotype", serif;
    padding: 6px 12px 40px 12px;
    display: inline;
    width: 70%;
    float: left;
    background-color: #E9F7DF;
}
#projcode, #projcomp {
  display: inline-block;
  padding: 2px 4px 0px 4px;
  border: 6px double;
  overflow: scroll;
  border-radius: 15px;
  width: 220px;
  height: 195px;
  background-color: #CA8DF7;
}
#projcode:hover, #projcomp:hover {
  border: 2px dashed;
  background-color: #F7BC8D;
}
#comp {

}
#code {

}
#sidebar {
    font: Georgia, serif;
    background-color: #ECDFF7;
    padding: 6px 12px 40px 12px;
    height: 100%;
    width: 25%;
    display: inline;
    float: left;
}
#image {
  width: 120px;
}
#social-links {
  background-color: #8AF63A;
  border: 2px solid;
}
#about_me {

}

.icon {
  padding: 4px 6px 4px 6px;
  height: 22px;
  width: 22px;
}
.zap {
  text-decoration: line-through;
}

input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 28px;
  margin  : 0;
  padding : 0;
  opacity : 0;
}
input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -28px;
  padding-left : 28px;
  background   : url('../imgs/checks.png') no-repeat 0 0;
  line-height  : 24px;
}
input[type=checkbox]:not(old):checked + label{
  background-position : 0 -24px;
}
input[type=radio]:not(old):checked + label{
  background-position : 0 -48px;
}
